// helpers load first
//@import "helpers/variables.scss";

// load vendor libs, but just what you need
@import "vendor/bootstrap-custom";

// load components
//@import "components/buttons";

// load components
//@import "pages/home";

.navbar-default{
    background-color: #425773;
    height: 70px;
}

.general{
    background-color: #D9E1EC;
    height: 100%;
    width:100%;
    padding: 0 60px;
    padding-top: 39px;
}

.mid{
    padding: 0 78px;
}

.row2{
    padding-top: 30px;
}

.container{
    background-color: white;
    height: 100px;
    width: 86%;
    text-align: center;
    padding: 15px 35px;
    div{
        padding: 10px;
    }
}

.padding0{
    padding-right:0;
    padding-left:0;
}

.name{
    p{
    margin-bottom: 0;
    }
}

.iconLabel{
    margin-top: 10px;
    margin-bottom: 0px;
}

.blogContainer{
    background-color: white;
    height: 565px;
    width: 86%;
    div{
        margin-top: 70px;
        img {
            width: 100%;
        }
    }
}

.imageContainer{
    width: 14%;
    image{
        margin-right: 33px;
    }
}

.recBlogs{
    height: 400px;
    margin-bottom: 30px;
}

.radar{
    height: 400px;
}

.blog{
    padding: 10px;
    height: 76px;
    border-bottom: 1px solid #EFEFEF;
    div{
        img{
        padding: 10px;
        }
    }
}

.small-font{
    font-size: 10px;
}

.fit {
    display:inline-block;
}

aside{
    div{
        background-color: white;
        width: 100%;
    }
}